<div class="form__container" *ngIf="!isAcces">
  <form [formGroup]="loginForm">
    <div>
      <label for="login">Votre nom :</label>
      <input type="text" formControlName="login" placeholder="Ex : John (En lettres)">
    </div>
    <div>
      <label for="password">Code de l'événement :</label>
      <input type="text" id="password" formControlName="password" placeholder="Donné par l'organisateur">
    </div>
    <button type="submit" (click)="submit()" [disabled]="loginForm.invalid">Soumettre</button>
    <div class="message_container" *ngIf="message">
      <p>{{ message }}</p>
    </div>
  </form>

  <div class="add__orga__btn" (click)="goToCreateOrga()">
    <app-btn>
      <app-icon class="btn__add" type="PLUS"></app-icon>
    </app-btn>
  </div>
</div>

<div class=" autorized__container" *ngIf="isAcces">
  <div *ngIf="organisation$ | async as organisation">
    <app-informations-card [organisation]="organisation"></app-informations-card>
    <div>
      <div *ngIf="userName$ | async as userName">
        <div class="todo_cards_container">
          <app-to-do-card [organisation]="organisation" [userName]="userName" [isLimitTime]="(isLimitTime$ | async)"
            *ngFor="let item of organisation.toDo" [toDo]="item"></app-to-do-card>
        </div>
      </div>
      <app-to-do-create-form [organisation]="organisation"></app-to-do-create-form>
    </div>

  </div>
</div>