@import 'src/stylings/theme';

.form__container {

  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    label {
      color: $fontcolor-primary-dark;
      display: block;
      margin-bottom: 3px;
    }

    input {
      min-width: 300px;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid $app-primary-light;
    }

    button[type="submit"] {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: $app-primary;
      color: $fontcolor-primary;
      cursor: pointer;
    }
    .message_container {
      p {
        margin: 10px 0;
        color: $special-danger;
      }
    }
  }

  .add__orga__btn {


    .btn__add {
      color: $fontcolor-primary-dark;
    }
  }
}

.autorized__container {
  overflow: hidden;

  .todo_cards_container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
