<div class="form__container" *ngIf="!isAcces">
  <form [formGroup]="loginForm">
    <div>
      <label for="login">Votre nom :</label>
      <input type="text" formControlName="login">
    </div>
    <div>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" formControlName="password" placeholder="Mot de passe">
    </div>
    <button type="submit" (click)="submit()">Soumettre</button>
    <div class="message_container" *ngIf="message">
      <p>{{ message }}</p>
    </div>
  </form>

  <div class="add__orga__btn" (click)="goToCreateOrga()">
    <app-btn>
      <app-icon class="btn__add" type="PLUS"></app-icon>
    </app-btn>
  </div>
</div>

<div class="autorized__container" *ngIf="isAcces">
  <div *ngIf="organisation$ | async as organisation">
    <app-informations-card [organisation]="organisation"></app-informations-card>
    <div class="container-fluid px-0">
      <div *ngIf="isLimitTime$ | async as isLimitTime">
        <div class="row" *ngIf="userName$ | async as userName">
          <app-to-do-card [organisation]="organisation" [userName]="userName" [isLimitTime]="!isLimitTime"
            class="col-12 col-md-6 col-xl-4" *ngFor="let item of organisation.toDo" [toDo]="item"></app-to-do-card>
        </div>
      </div>
      <app-to-do-create-form [organisation]="organisation"></app-to-do-create-form>
    </div>

  </div>
</div>