<div class="nav__container">
  <nav>
    <a routerLink="home" routerLinkActive="router-link-active">Accueil</a>
    <a routerLink="about" routerLinkActive="router-link-active">Qui sommes-nous ?</a>
    <a routerLink="conseils" routerLinkActive="router-link-active">Conseils d'école</a>
    <a routerLink="compta" routerLinkActive="router-link-active">Comptabilité</a>
    <a routerLink="eventend" routerLinkActive="router-link-active">Historique</a>
    <a routerLink="joinus" routerLinkActive="router-link-active">Nous rejoindre</a>
    <a routerLink="orga" routerLinkActive="router-link-active">S'organiser</a>
  </nav>
</div>
