<div class="event__card" *ngIf="organisation">
  <h2>{{ organisation.typeEvent }}</h2>
  <h4>{{ organisation.description }}</h4>
  <p><strong>Lieu : </strong> {{ organisation.lieu }}</p>
  <p><strong>Date : </strong> {{ organisation.date | date:'fullDate'}}
    <span [ngClass]="{'time__alert': daysLeft < 4}" class="time__left">(Jours restants : {{ daysLeft }})
    </span>
  </p>
  <p *ngIf="organisation.horaire"><strong>Horaire : </strong> {{ organisation.horaire }}</p>
  <p *ngIf="organisation.tarifs"><strong>Tarifs : </strong> {{ organisation.tarifs }}</p>
  <div *ngIf="organisation.toDo | pourcent as pourcent">
    <app-progress-circle [value]="pourcent"></app-progress-circle>
  </div>
</div>