<div class="joinus__container">
  <div class="presentation__message">
    <p>
      Si vous aussi, vous voulez participer à l'association des parents d'élèves du groupe scolaire Nelson Mandela.
      Et ainsi contribuer à nos objectifs, qui sont d'animer la communauté de parents et de de recolter des fonds pour
      que l'école puisse proposer des activités variés et de qualité à nos enfants.
      N'hesitez pas à nous rejoindre et apporter vos compétences à notre équipe.
      Toute aide est la bienvenue. Même ponctuelle.
      Pour cela, il faudra nous fournir quelques informations et payer une cotisation qui s'élève pour le moment à 1€
      par an.
    </p>
  </div>

  <div class="information__needed">
    <h2>Liste des informations à nous fournir pour nous rejoindre :</h2>
    <ul>
      <li>Nom et Prénom</li>
      <li>Email (optionnel mais pratique pour envoyer des convocations aux réunions importantes)</li>
      <li>Numero de téléphone (ajout sur WhattApp necessaire)</li>
      <li>Adresse (Pour convocations aux conseils d'administration, 1 par an)</li>
      <li>Un texte optionnel pour decrire votre motivation et ce que vous voulez apporter</li>
    </ul>
  </div>

  <div class="by__mail">
    <h3>Envoyez nous ces information par e-mail :</h3>
    <p>parents.nelsonmandela33@gmail.com</p>
  </div>

  <div class="by__letter">
    <h3>Envoyez nous ces information par courrier :</h3>
    <img src="assets/img/joinus/boiteaulettre.jpg" alt="boite aux lettres">
  </div>
</div>