
$app-background: #ffffff;
$app-background-secondary:rgb(245, 245, 245);
$app-background-secondary-dark:rgb(170, 170, 170, 0.85);

$app-primary: #2B2F16;
$app-primary-light: #38320f;

$app-secondary: #3C431B;
$app-secondary-light: #4e4713;

$app-color3:#61215C;
$app-color3-light:#7e2340 ;

$app-color4:#662142 ;
$app-color4-light:#85232e ;

$app-color5:#6A2223 ;
$app-color5-light:#8a2419 ;

$fontcolor-primary: #f1f1f1;
$fontcolor-primary-trans: #1C1C1C8A;
$fontcolor-primary-dark: rgb(37, 35, 35);


$special-succes: rgb(18, 148, 18);
$special-succes-dark: rgb(13, 83, 13);
$special-danger: rgb(161, 24, 24);
$special-warning: rgb(155, 107, 19);

$primary-font: 'EB Garamond', serif;
$secondary-font: 'Montserrat', sans-serif;
