<div class="conseil__card">
  <div class="title__container" (click)="toggle()">
    <h3>
      Conseil d'école du : {{ conseil.date }}
      <app-icon *ngIf="isHidden" type="CHEVRONDOWN"></app-icon>
      <app-icon *ngIf="!isHidden" type="CHEVRONUP"></app-icon>
    </h3>
  </div>

  <div class="collapse__content" *ngIf="!isHidden">
    <div class="resume__container">
      <p> {{ conseil.resume }}</p>
    </div>

    <div class="detail__container">
      <a [href]="conseil.detailPdf" target="_blank">Lien vers le compte rendu détaillé</a>
    </div>
  </div>
</div>