@import 'src/stylings/theme';

.todo__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  background-color: $app-background-secondary-dark;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  margin: 5px;
  padding: 0 1em ;
  position: relative;
  min-height: 50px;
  width: 350px;

  .btn__container {
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: $app-background;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    .btn__supp {
      color: rgba(161, 24, 24, 0.25);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $special-danger;
      }

    }
  }
}

.toDo__left {
  color: $fontcolor-primary-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
  min-width: 60%;

  h3 {
    font-size: 1.2rem;
    margin-bottom: -5px;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 0;

    .user__span {
      font-weight: bold;
    }

    .assigned__date__span {
      font-size: 0.6rem;
    }
  }
}

.toDo__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5em;
  position: relative;
}

.cancel__btn {
  color: $special-danger;
}

//reserved
.checked {
  color: $special-succes-dark;
}


//limit__time
.color__limitTime {
  border: 2px dashed $special-danger;
}

//reserved and limit__time
.color__reserved__and__limitTime {
  border: 2px dashed $special-danger;
}

//validated
.color__validated {
  background-color: $special-succes;
}
