@import 'src/stylings/theme';

.todo__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background-color: $app-background-secondary-dark;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  margin: 15px;
  padding: 0 2em ;
  position: relative;

  .btn__container {
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: $app-background;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    .btn__supp {
      color: rgba(161, 24, 24, 0.25);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $special-danger;
      }

    }
  }
}

.cancel__btn {
  color: $special-danger;
}

.toDo__left {
  color: $fontcolor-primary-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;

  h3 {
    font-size: 1.2rem;
    margin-bottom: -5px;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 0;

    .user__span {
      font-weight: bold;
    }

    .assigned__date__span {
      font-size: 0.6rem;
    }
  }
}

.btn__check {
  color: $special-succes;
}

.btn_checked {
  color: $special-succes-dark;
}

.toDo__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.8em;
}




.color__reserved {
  background-color: $app-color3;
}

.color__limitTime {
  border: 2px solid $special-danger;
}

.color__reserved__and__limitTime {
  border: 2px solid $special-danger;
  background-color: $app-color3;
}

.color__validated {
  background-color: $special-succes;
}
