<div class="carousel__container">
  <div *ngFor="let image of images" class="carousel">

    <div class="text__content" *ngIf="image.titleContent && image.textContent">
      <h1>{{ image.titleContent }}</h1>
      <p>{{ image.textContent }}</p>
      <a *ngIf="image.linkUrl" (click)="redirect(image.linkUrl)">En savoir plus</a>
    </div>

    <img [src]="image.imageUrl" [hidden]="image !== images[currentIndex]">
  </div>

  <div class="left" (click)="next(-1)">
    <app-btn>
      <app-icon class="chevron__icon" type="CHEVRONLEFT"></app-icon>
    </app-btn>
  </div>

  <div class="right" (click)="next(1)">
    <app-btn>
      <app-icon class="chevron__icon" type="CHEVRONRIGHT"></app-icon>
    </app-btn>
  </div>

</div>