

/* Importing Bootstrap SCSS file. */
@import "stylings/reset";
@import "/node_modules/Bootstrap/SCSS/Bootstrap";
@import "stylings/theme";


body{
  background-color: $app-background;
  font-family: $secondary-font;
  color: $fontcolor-primary;
}
